tensorflow
imgaug
cv2
pycocotools
pillow
tkinter
keras
pydot
opencv-python
https://github.com/OlafenwaMoses/ImageAI/releases/download/2.0.2/imageai-2.0.2-py3-none-any.whl
pykalman
tslearn
tqdm
openpifpaf